{% extends "nrwebtools/base.html" %}
{% block content %}
{% load static %}

<div class="col-lg-8 mx-auto p-3 py-md-5">
    <main>
        <h1>About NR Web Tools</h1>
        <p class="fs-5 col-md-8">
            This website is a child of two primal feelings: frustration and curiosity.  Let's start with curiosity.  In 2017, I began learning Python as part of my PhD research. Once I got the hang of it, I realized I enjoyed the portability, modularity, and expressiveness available within the language so much that I began to look around and think, "Gee, I could automate that with a Python script."  At the same time, I was growing profoundly tired and becoming resentful of the amount of time I was spending on menial repetitive tasks required for my Navy Reserve drill weekends.  Since I've been growing interested in writing scientific web applications for ocean acoustics, I figured this would be a good start to learning web app development, while sharing these tools with the hope that others may focus their time on more rewarding endeavors.
        </p>
    </main>
</div>

{% endblock %}