{% extends "nrwebtools/base.html" %}
{% block content %}
{% load static %}

<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom">NR Web Tools</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

    <div class="col d-flex align-items-start">
      <div>
        <h3>Block 29 Formatter</h3>
        <p>Formats data for Block 29 of FITREPs/evals.</p>
        <a href="/block29app/" class="btn btn-primary">
          Open
        </a>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <div>
        <h3>RUAD Parser</h3>
        <p>Parses unit RUAD into a reformatted Excel spreadsheet and PowerPoint slides.</p>
        <a href="#" class="btn btn-primary">
          Open
        </a>
      </div>
    </div>

  </div>
</div>

{% endblock %}