{% extends "nrwebtools/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-9" style="margin: 1rem auto 1rem auto;">
            <h3>Block 29 Formatter</h3>
            <p>This app provides a standardized format for the information required in Block 29 of Navy fitness reports and evaluations. 
                Fields are derived from <a href="https://www.mynavyhr.navy.mil/References/BUPERS-Instructions/" target="_blank">BUPERSINST 1610.10F CH-1</a>.</p>
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        {% crispy form %}
                    </div>
                    <hr />
                    <h4>Formatted Block 29</h4>
                    <p>{{ formatted }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}