<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'block29app/css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NR Web Tools - Block 29</title>
</head>
<body>
    <h1>Success!</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9" style="margin: 1rem auto 1rem auto;">
                <p>Are you a frustrated admin officer, tired of hodge-podge formatting of Block 29? This app is designed for you! Fill in the appropriate fields and spend zero brain power on formatting Block 29!</p>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            {% crispy form.POST %}
                        </div>
                        <p>{{ form.format }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>